.landing_header {
    padding: 15% 0 20% 0;
}

.statement {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-left: 4px;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    animation: intro_type 2s steps(70) 0.8s 1 normal both,
            blinkTextCursor 700ms steps(45) normal infinite;
}

.name {
    font-size: 70px;
    font-weight: lighter;
    padding-top: 0px;
    /* margin-top: 15px; */
    margin-bottom: -5px;
    /* border-right: 2px solid black; */
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    animation: name_type 3s steps(70) 2.8s 1 normal both,
        blinkTextCursor 700ms steps(44) infinite normal;
}

.resume_button {
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
    background-color: #fafafa;
    cursor: pointer;
    visibility: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    /* transform: translateY(100px); */
    animation: 8s ease-in 5.8s appear;
}

.resume_button:hover {
    background: rgb(3, 3, 3);
    color: rgb(255, 255, 255);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50;
    }
    70% {
        opacity: 70;
    }
    100% {
        opacity: 100;
    }
}

@keyframes name_type {
    from {
        width: 0;
    }
    
    to {
        width: 9em;
    }
}

@keyframes intro_type {
    from {
        width: 0;
    }

    to {
        width: 8em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }

    to {
        border-right-color: transparent;
    }
}
