.projects_header {
    font-size: 3em;
    font-weight: lighter;
}

.project {
    margin-bottom: 5%;
}

.project_name {
    display: flex;
}

.arrow  {
    width: 30px;
    padding-left: 10px;
    animation: 0.8s linear infinite alternate sliding;
}

@keyframes sliding {
    0% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(-3px);
    }
}

.project_title a {
    text-decoration: none;
    color: black;
    width: fit-content;
}

.project_title h2 {
    font-size: 2.2em;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 0px;
}

.project_date {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: lighter;
}

.project_description {
    margin-top: 0px;
    font-size: 1.2em;
}
